.header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 96px);
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 290px;
        width: 100%;
        max-height: 42px;
        margin: 16px 16px 0;
    }
}