.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 110%;
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        padding-top: 28px;
    }
}

@media screen and (max-width: 820px) {
    .lead__title {
        font-size: 12.5vw;
        padding-top: 43px
    }
}

@media screen and (max-width: 510px) {
    .lead__title {
        font-size: 10vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        padding-top: 50px;
        font-size: 40px;
        line-height: 109%;
    }
}