.cover__title {
    position: relative;
    display: block;
    font-weight: 900;
    font-size: 72px;
    color: #fff;
    line-height: 106%;
    text-align: center;
    margin: 0;
    max-width: 560px;
    width: 100%;
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    .cover__title { 
        margin: 0 0 32px;
    }
}

@media screen and (max-width: 768px){
    .cover__title {
        font-size: 46px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        margin: 6px auto 0;
        max-width: 288px;
    }
}